*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --background: #292738;
    --white: #fafafa;
    --columns: #363447;
    --green: #81FBB8;
    --green-gradient: rgba(129, 251, 184, 1) rgba(40, 199, 111, 1);
    --purple-gradient: rgba(206, 159, 252, 1) rgba(115, 103, 240, 1);
    --orange-gradient: rgba(223, 151, 128, 1) rgba(166, 109, 233, 1);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--background);
    overflow: hidden;

}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: grid;
    align-items: center; 
    justify-content: center;
    left: 900px;
    position: relative;
}


.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}



main .modal-frame{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 27px;
    
}


modal-frame, .frame1{
    width: 296px;
    height: 379px;
    border-radius: 16px;
    padding: 29px 48px 29px 48px;
    box-shadow: 0px 0px 20px 20px #252333;

    background: var(--columns);
}

modal-frame, .frame2{
    width: 351px;
    height: 379px;
    border-radius: 16px;
    padding: 29px 48px 29px 48px;
    box-shadow: 0px 0px 20px 20px #252333;

    background: var(--columns);
}

modal-frame, .frame3{
    position: relative;
    left: -98px;
    width: 409px;
    height: 379px;
    border-radius: 16px;
    padding: 29px 48px 29px 48px;
    box-shadow: 0px 0px 20px 20px #252333;

    background: var(--columns);
}

/* CONTEUDO DENTRO DO MODAL */

/* ---------  MODAL 1 */

.frame1 img{
    margin-top: 40px;
    width: 54px;
    height: 54px;
}

.frame1 h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--white);
    padding-bottom: 38px;
    
}

.frame1 h3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 38px;
    margin-top: -25px;
    color: var(--green);
}

.frame1 p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    size: 14px;
    line-height: 22.4px;
    padding-top: 64px;
    color: var(--white);
}

/* ------------  MODAL 1 */


/* ------------  MODAL 2 */

/* SUBTITLE */
.frame2 h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--white);
    padding-bottom: 38px;

    position: relative;
    top: -20px;
    left: 0px;
}
.frame2 p{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-top: -5px;
    color: var(--white);
}

.frame3 h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--white);
    padding-bottom: 38px;

    position: relative;
    top: -20px;
    left: 0px;
}
/* ------------------------------- */

/* CIRCLE PROGRESS */
.skill{
    top: -344px;
    left: 414px;
    width: 225px;
    height: 225px;
    /* background: cornflowerblue; */
    position: relative;
    
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    /* border: 1px solid red; */
    background-color: #474556;

    padding: 110px;
    position: relative;
}

.inner{
    position: relative;
    left: -80px;
    top: -80px;

    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background-color: #363447;
}

.inner h2{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #fafafa;

    left: 40px;
    top: 18px;
    position: relative;
}

#number{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #fafafa;

    left: -40px;
    top: -10px;
    position: relative;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 31px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg{
    position: absolute;
    top: 0px;
    left: 0px;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 0;
    }
}
/* END CIRCLE PROGRESS */

/* ------------ Baseboard --------- MODAL 2 ----- */

.frame2 h3{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;

    position: relative;
    top: 220px;
    left: -80px;
}

.frame2 h4{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fafafa;
    position: relative;
    top: 204px;
    left: -30px;
}

.frame2 img{
    position: relative;
    top: 307px;
    left: -125px;
}

.frame2text h3{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;

    position: relative;
    top: 154px;
    left: -153px;
}

.frame2text h4{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fafafa;
    position: relative;
    top: 137px;
    left: -102px;
}

.frame2text img{
    position: relative;
    top: 174px;
    left: -202px;
}

/* ------------  MODAL 3 */

.frame3 h3{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;
    position: relative;
    bottom: -220px;
    left: -109px;
}

.frame3 h4{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fafafa;
    position: relative;
    top: 204px;
    left: -44px;
}

.frame3 img{
    position: relative;
    top: 307px;
    left: -154px;
}

.frame3text h3{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;
    position: relative;
    bottom: -154px;
    left: -275px;
}

.frame3text h4{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fafafa;
    position: relative;
    bottom: -138px;
    left: -206px;
}

.frame3text img{
    position: relative;
    top: 174px;
    left: -323px;
}

/* ------------------------------------------------------ */

.skill-2{
    top: -568px;
    left: 822px;
    width: 225px;
    height: 225px;
    /* background: cornflowerblue; */
    position: relative;
}

.skill-2 .outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    /* border: 1px solid red; */
    background-color: #474556;

    padding: 110px;
    position: relative;
}

.skill-2 .inner{
    position: relative;
    left: -80px;
    top: -80px;

    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background-color: #363447;
}

.skill-2 .inner h2{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #fafafa;

    left:44px;
    top: 18px;
    position: relative;
}

.skill-2 circle{
    fill: none;
    stroke: url(#GradientColor2);
    stroke-width: 31px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 2s linear forwards;
}

@keyframes anim2{
    100%{
        stroke-dashoffset: 0;
    }
}

.skill-2 svg{
    position: absolute;
    top: 0px;
    left: 0px;
}

.skill-2 #number2{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #fafafa;

    left: -40px;
    top: -10px;
    position: relative;
}

/* -------------------------------------------------- */

/* MODAL EXTENDED */

.modal-extended {
    bottom: -404px;
    position: relative;
    left: -1305px;
    width: 1110px;
    height: 314px;
    border-radius: 16px;
    padding: 29px 48px;
    background: var(--columns);
    box-shadow: 0px 0px 20px 20px #252333;
}

text-modal-extend{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-modal-extend h2{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    color: #fafafa;
    position: relative;
    left: -347px;
    bottom: 10px;
}

.text-modal-extend p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38.4px;
    color: #fafafa;
    position: relative;
    left: -405px;
    top: 7px;
}

.text-modal-extend p2{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38.4px;
    color: #fafafa;
    position: relative;
    left: -403px;
    top: 65px;
}

.text-modal-extend h3{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.4px;
    color: #fafafa;
    position: absolute;
    bottom: 145px;
    left: 54px;
}

.text-modal-extend h4{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.4px;
    color: #fafafa;
    position: absolute;
    bottom: 50px;
    left: 55px;
}

.text-modal-extend img{
    position: relative;
    left: -484px;
    top: 71px;
}

.text-modal-extend img:nth-child(2){
    position: relative;
    left: -501px;
    top: 173px;
}

/* --------------------------------------------------------------------------- */

/* ----------- TABEL ----------- */

.table-extended{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    bottom: -438px;
    left: -1894px;

    width: 540px;
    height: 180px;
    padding: 29px 48px;
    /* border: 1px solid aquamarine; */
}

.line-extended {
    bottom: 0px;
    position: relative;
    left: -263px;
    width: 100px;
    border-radius: 999px;
    padding: 2px 269px;
    background: #4A4556;
    opacity: 100%;
}

.text-table{
    display: flex;
    position: relative;
    bottom: -80px;
    left: 268px;
    gap: 60px;
}

.text-table p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38.4px;
    color: #fafafa;
}

.columns{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 70px;
}

.columns .dom{
    width: 15px;
    height: 39px;
    border-radius: 999px;
    background: aquamarine;
    position: relative;
    left: 5px;
    bottom: -45px
}

.columns .seg{
    width: 15px;
    height: 115px;
    border-radius: 999px;
    background: aquamarine;
    position: relative;
    left: 8px;
    bottom: -7px;
}

.columns .ter{
    width: 15px;
    height: 76px;
    border-radius: 999px;
    background: aquamarine;
    position: relative;
    left: 4px;
    bottom: -26px;
}

.columns .qua{
    width: 15px;
    height: 155px;
    border-radius: 999px;
    background: aquamarine;
    position: relative;
    left: 2px;
    bottom: 13px;
}

.columns .qui{
    width: 15px;
    height: 129px;
    border-radius: 999px;
    background: aquamarine;
    position: relative;
    left: 0px;
    bottom: 0px;
}

.columns .sex{
    width: 15px;
    height: 120px;
    border-radius: 999px;
    background: aquamarine;
    position: relative;
    left: -5px;
    bottom: -4px;
}

.columns .sab{
    width: 15px;
    height: 67px;
    border-radius: 999px;
    background: aquamarine;
    position: relative;
    left: -6px;
    bottom: -30px;
}